@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
.container{
    display: flex;
    align-items: center;
}
.folio-12{
    width: 100%;
    height: 100vh;
    background : radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%);
}
.header{
    background: violet;
        height: 100px;
        width: 100%;
}
h1{
    display: inline-block;
    font-size: 3rem;
    color: #fff;
    margin-left:15rem;
    margin-top: 30px;
    /* animation: animate 1s ease-in-out infinite; */
    opacity: 0.5;
}
 span{
    display: inline-block;
    color: #fff;
        /* animation: animate 1s ease-in-out infinite; */
        
 }
  
/* @keyframes animate{
    0%{
        transform: translateY(0px);
    }
    50%{
         opacity: 0.5;
     }
    100%{
        transform: translateY(0px);
        color: rgb(196, 247, 247)         
    }
} */
 nav{
    display: flex;
    justify-content: space-between;
      align-items: center;
    margin-top: -36px;
 }
 nav ul {
    display: flex;
    margin-left: auto;
    list-style: none;
      margin-right: 10rem;
 }
 a{
    display: inline-block;
    text-decoration: none;
    color: #fff;
    font-size: 25px;
    margin: 0 30px;
    position: relative;
 }
 a::after{
    content: '';
    display: block;
    width: 0%;
    height: 3px;
    color: #fff;
    background: #fff;
    position: absolute;
    left: 0px;
    bottom: -5px;
    transition: 0.5s;
 }
 a:hover::after{
    width: 100%;

 }
 a:hover{
    color: bisque;
 }
 .footer{
    display: block;   
     margin-left: 30rem;
    margin-top: 30vh;
    font-size: 25px;
    color: #fff;
 }
 h3{
     margin: 30px;
     font-size: 30px;
     animation: identifier 1s ease-in-out infinite;
 }
 @keyframes identifier {
   0%{
      transform: scaleY(0);
   }
   10%{
      transform: scaleY(30px);
   }
   100%{
      transform: scaleY(100px);
   }
 }
 h2 .name {
         color: aqua;
 }
 p{
    margin-left: 30rem;
    margin-top: 50px;
    color: #f5f5dc;
 }
 .icons{
    display: flex;
    margin-left: 30rem;
    margin-top: 30px;
    padding: 0px 20px;
    cursor: pointer;
    
 }
 .icons i{
    padding: 0px 20px;
    font-size: 30px;
    color: #fff;
    cursor: pointer;
     transition: 0.5s;
     
 }
  
 .icons .bi-instagram:hover{
    color:  #ffcfff;
 }
 .icons .bi-facebook:hover{
    color: #0000ff;
 }
 .icons .bi-linkedin:hover{
    color: #272763
 }
 .icons .bi-github:hover{
    color: #000;
 }
 i:active{
    transform: scale(1.2);
 }
 button{
   display: flex;
   justify-content: center;
   align-items: center;
   margin-left: 30rem;
   margin-top: 30px;
   font-size: 30px;
   border: none;
   border-radius: 20px;
   padding: 10px 20px;
   color: #fff;
   background: #f2efcc;
   
 }
 button:hover{
   color: #fff;
   background: #eae395;
 }
 button:active{
   transform: scale(0.98);
 }
 .left{
   background: radial-gradient(#ffcfff,30deg #272763,45deg);
   height: 40rem;
   width: 40rem;
   border-radius: 50%;
   position: absolute;
   left: 80rem;
   top: 37vh;
   box-shadow:  10px 15px 20px rgba(148,187,233,1);
   box-shadow:10px 20px 30px #f2efcc;

 }
 .right{
   /* background: url('image.jpeg'); */
   height: 30rem;
   width: 30rem;
   border-radius: 50%;
   position: absolute;
   left: 85rem;
   top: 44vh;
      box-shadow:  10px 15px 20px rgba(148,187,233,1);

 }
 img{
   border: none;
   border-radius: 50%;
   height: 30rem;
   width: 30rem;
 }